* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}